.university_coursework{
  font-family: Rubik;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  margin: 0; /* override the 105px top margin */
    font-family: Rubik;
  font-size: 60px;
  top: calc(var(--dashboard-top) - 0px); /* sits just above the dashboard */
  color: #ffffff;
  text-align: center;

  padding-bottom: 30px;
  margin: 0; /* override the 105px top margin */
}

.workbox{
    border-radius: 5px;
    padding: 15px;
    margin-left: 100px;  
    margin-right:100px;
    margin-bottom:30px;
    margin-top:30px;
    background-color: white;
    text-align: left;
}

