.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: #231f20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 20px;
    box-sizing: border-box;
}

.left-section {
    display: flex;
    align-items: center;
    color: white;
    margin-right: auto; /* Pushes the middle-section to the right */
}

.middle-section {
    flex: 1 1 auto; /* Allows to grow and shrink */
    display: flex;
    align-items: center;
    color: white;
    justify-content: center; /* Center the content */
    margin-left: 520px; /* Add margin between left and middle sections */
    margin-right: 20px; /* Add margin between middle and right sections */
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: auto; /* Pushes the right-section to the end */
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
    .middle-section {
        margin-left: 10px; /* Reduce margin on smaller screens */
        margin-right: 10px;
    }
    
    .header {
        padding: 0 10px; /* Reduce padding for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .middle-section {
        margin-left: 5px; /* Further reduce margin on very small screens */
        margin-right: 5px;
    }
}

.text-box-name{
    margin-left: 50px;
    font-size: 28px; 
    font-family: Rubik;
    vertical-align: left;
    border: 0px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right:5px;
    background: #231f20;
    height:80px;
    width: 187.91px;
    cursor:pointer;
}

.text-box-name:active{
    color: rgb(192, 192, 192);
}



.About{
    font-family: Rubik;
    font-size: 16px;
    color: white;
    margin-right:20px;
    
    background: #231f20;
    border:none;
    cursor: pointer;
}

.About:active{
    color: rgb(192, 192, 192);
}

.Contact{
    font-family: Rubik;
    font-size: 16px;
    color: white;
   
    margin-left: 20px;
    margin-right: 20px;
    background: #231f20;
    border:none;
    cursor: pointer;
}

.Contact:active{
    color: rgb(192, 192, 192);
}

.Experience{
    font-family: Rubik;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    background: #231f20;
    border:none;
    cursor: pointer;
}

.Experience:active{
    color: rgb(192, 192, 192);
}

.Portfolio{
    font-family: Rubik;
    font-size: 16px;
    color: white;
    margin-right:20px;
    margin-left:20px;
    
    background: #231f20;
    border:none;
    cursor: pointer;
}

.Portfolio:active{
    color: rgb(192, 192, 192);
}







  .resumedownload{
    font-family: Rubik;
    font-size: 16px;
    color: white;
   
    margin-left: 20px;
    
    background-color: #231f20;
    border:none;
    cursor: pointer;
  }

  .resumedownload:active{
    color: rgb(192, 192, 192);
}