.computer{
  position: absolute;

  width: 500px;
  height: 500px;
  z-index: 30;
}
.portfolio_text{
  font-family: Rubik;
  font-size: 60px;
  color:#ffffff;
  text-align: center;
  margin-top: 105px;
}

.computer_text{
  font-size: 30px;
  color: white;
  font-family: Rubik;
  margin-top: -260px;
  text-align: center;
  width:1400px;
  padding-right: 50px;
  height: 300px;
}

#down {
  margin-top: 100%;
  padding-bottom: 25%;
  scroll-behavior: smooth;
 }

 