

.left-section {
    display: flex;
    align-items: center;
    color: white;
  }

  .middle-section {
    flex: 1;
    margin-left: 400px;
    
    max-width: 500px;
    display: flex;
    align-items: center;
    color: white;
  }
  
  .right-section {
    width: 10px;
    margin-right: -10px;
   
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    color: white;
  }

.text-box-name{
    margin-left: 50px;
    font-size: 28px; 
    font-family: Rubik;
    vertical-align: left;
    border: 0px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right:5px;
    background: #231f20;
    height:80px;
    width: 187.91px;
    cursor:pointer;
}

.text-box-name:active{
    color: rgb(192, 192, 192);
}



.About{
    font-family: Rubik;
    font-size: 16px;
    color: white;
    margin-right:20px;
    
    background: #231f20;
    border:none;
    cursor: pointer;
}

.About:active{
    color: rgb(192, 192, 192);
}

.Contact{
    font-family: Rubik;
    font-size: 16px;
    color: white;
   
    margin-left: 20px;
    margin-right: 20px;
    background: #231f20;
    border:none;
    cursor: pointer;
}

.Contact:active{
    color: rgb(192, 192, 192);
}

.Experience{
    font-family: Rubik;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    background: #231f20;
    border:none;
    cursor: pointer;
}

.Experience:active{
    color: rgb(192, 192, 192);
}

.Portfolio{
    font-family: Rubik;
    font-size: 16px;
    color: white;
    margin-right:20px;
    margin-left:20px;
    
    background: #231f20;
    border:none;
    cursor: pointer;
}

.Portfolio:active{
    color: rgb(192, 192, 192);
}

.header{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   width: 100%;
    vertical-align:top;
    background: #231f20;
    position: fixed;
     top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}






  .resumedownload{
    font-family: Rubik;
    font-size: 16px;
    color: white;
   
    margin-left: 20px;
    
    background-color: #231f20;
    border:none;
    cursor: pointer;
  }

  .resumedownload:active{
    color: rgb(192, 192, 192);
}